In [2]:
import pandas as pd
import docx
import numpy as np

In [3]:
df = pd.read_excel('raw.xlsx')

In [4]:
df.head()

,OwnerName,OwnershipType,OwnersAddress,CitizenshipNumebr,CitizenshipDate,Relationship,PlotNumbers1,PlotNumbers2,PlotNumbers3,Address1,Address2,Address3,AreaPlot1,AreaPlot2,AreaPlot3,AreaPlot1sqm,AreaPlot2sqm,AreaPlot3sqm
0,sameep,sinlge,kapan,5555-4444,2066-06-05,father,111,222,333,dang,ghorahi,tulsipur,0-1-2,0-1-5,0-1-8,550,600,1000
1,manongya,joint,budhanilkantha,555/565,2015-05-06,uncle,"5,55,666",666,777,birgunj,betiya,muzaffarpur,0-1-3,0-2-3,0-2-8,400,300,800
2,manongya,joint,budhanilkantha,555/565,2015-05-06,uncle,"5,55,666",666,777,birgunj,betiya,muzaffarpur,250 m2,0-2-3,0-2-8,400,300,800

In [5]:
# Function to add a paragraph with bold data
def add_bold_paragraph(doc, text, bold_part):
    para = doc.add_paragraph()
    para.add_run(text).bold = False
    para.add_run(bold_part).bold = True

In [6]:
# Sample data
data = {
    "name_client": ["Mr. Niraj Bhandari"],
    "address_client": ["Kanakai Ward No.04, Ilam"],
    "owner": ["Mr. Devi Prasad Bhandari"],
    "plot":["111,222"],
    "ctzno": ["641/3269"],
    "issuedate": ["2036/10/16 AD"],
    "address_owner": ["Kanakai Ward No.04, Ilam"],
    "relationship": ["Grandfather"]
}

# Creating the DataFrame

In [7]:
df = pd.DataFrame(data)
df.head()

,name_client,address_client,owner,plot,ctzno,issuedate,address_owner,relationship
0,Mr. Niraj Bhandari,"Kanakai Ward No.04, Ilam",Mr. Devi Prasad Bhandari,"111,222",641/3269,2036/10/16 AD,"Kanakai Ward No.04, Ilam",Grandfather

In [9]:
import pandas as pd
from docx import Document
from docx.shared import Pt
from docx.oxml.ns import qn
from docx.oxml import OxmlElement

# Assuming `data` is already defined and used to create the DataFrame
df = pd.DataFrame(data)

# Extracting data
name_client = df.loc[0, "name_client"]
address_client = df.loc[0, "address_client"]
owner = df.loc[0, "owner"]
ctzno = df.loc[0, "ctzno"]
issuedate = df.loc[0, "issuedate"]
address_owner = df.loc[0, "address_owner"]
relationship = df.loc[0, "relationship"]
plot = df.loc[0, "plot"]

# Function to add a paragraph with bold text
def add_bold_paragraph(doc, label, text):
    paragraph = doc.add_paragraph()
    run = paragraph.add_run(label)
    run.bold = True
    run = paragraph.add_run(text)

# Creating the Word document
doc = Document()

# Adding paragraphs with bold data
add_bold_paragraph(doc, "Name of Client/Applicant: ", name_client)
add_bold_paragraph(doc, "Address of Client: ", address_client)
add_bold_paragraph(doc, f"Owner of the Property (Plot no: {plot}): ", owner)
add_bold_paragraph(doc, "Citizenship No. & Issued Date: ", f"{ctzno}, {issuedate}")
add_bold_paragraph(doc, "Address of the Owner: ", address_owner)
add_bold_paragraph(doc, "Relationship with the Client: ", relationship)

# Saving the document
file_path = "Client_Information.docx"
doc.save(file_path)

file_path

'Client_Information.docx'

# FOR TABLE

In [10]:
# import pandas as pd
# from docx import Document
# from docx.oxml.ns import qn
# from docx.oxml import OxmlElement

# # Sample data for the table
# data = {
#     "S.N.": [1, 2],
#     "OWNERíS NAME": ["sameep", "sameep"],
#     "LOCATION (ADDRESS OF PROPERTY)": ["kapan", "kapan"],
#     "OWNERSHIP_TYPE": ["single", "single"],
#     "PLOT NO.": [555, 666],
#     "AREA(m2)": [250, 300]
# }

# # Creating the DataFrame
# df_table = pd.DataFrame(data)

# # Creating the Word document
# doc = Document()

# # Adding a table with the data
# table = doc.add_table(rows=1, cols=len(df_table.columns))
# hdr_cells = table.rows[0].cells
# for i, column_name in enumerate(df_table.columns):
#     hdr_cells[i].text = column_name

# # Adding data to the table
# for index, row in df_table.iterrows():
#     row_cells = table.add_row().cells
#     for i, value in enumerate(row):
#         row_cells[i].text = str(value)

# # Function to set cell border
# def set_cell_border(cell, **kwargs):
#     tc = cell._element
#     tcPr = tc.get_or_add_tcPr()
    
#     for edge in ('top', 'left', 'bottom', 'right'):
#         if edge in kwargs:
#             edgeEl = OxmlElement(f'w:{edge}')
#             edgeEl.set(qn('w:val'), kwargs.get(edge))
#             edgeEl.set(qn('w:sz'), '4')  # 4 for 1/2 pt, 8 for 1 pt
#             edgeEl.set(qn('w:space'), '0')
#             edgeEl.set(qn('w:color'), '000000')  # black color
#             tcPr.append(edgeEl)

# # Applying border to all cells
# for row in table.rows:
#     for cell in row.cells:
#         set_cell_border(cell, top="single", left="single", bottom="single", right="single")

# # Saving the document
# doc.save("Property_Table_with_Borders.docx")

# CONVERSION METRICS

In [15]:
def sqft_to_rapd(sqft):
    ropani = int(sqft // 5476)
    remaining_sqft = sqft % 5476
    aana = int(remaining_sqft // 342.25)
    remaining_sqft %= 342.25
    paisa = int(remaining_sqft // 85.56)
    remaining_sqft %= 85.56
    daam = round(remaining_sqft / 21.39,3)
    return (ropani, aana, paisa, daam)

def sqm_to_rapd(sqft):
    ropani = int(sqft // 508.737)
    remaining_sqft = sqft % 508.737
    aana = int(remaining_sqft // 31.796)
    remaining_sqft %= 31.796
    paisa = int(remaining_sqft // 7.949)
    remaining_sqft %= 7.949
    daam = round(remaining_sqft / 1.987, 3)
    return (ropani, aana, paisa, daam)


def rapd_to_sqft(ropani, aana, paisa, daam):
    sqft = (ropani * 5476) + (aana * 342.25) + (paisa * 85.56) + (daam * 21.39)
    sqft = round(sqft,2)
    return sqft

def rapd_to_sqm(ropani, aana, paisa, daam):
    sqm = (ropani * 508.737 ) + (aana * 31.796) + (paisa * 7.949 ) + (daam * 1.987)
    sqm = round(sqm,2)
    return sqm

def sqm_to_sqft(sqm):
    sqft = sqm / 0.092903
    return round(sqft, 2)
    

def sqft_to_sqm(sqft):
    sqm = sqft * 0.092903
    return round(sqm, 2)

In [128]:
print(rapd_to_sqm(1,0,0,0))

508.74

In [26]:
print(sqm_to_rapd(250.0)) #3

(0, 7, 3, 1.802)

In [27]:
print(sqft_to_rapd(250.0)) #3

(0, 0, 2, 3.688)

In [131]:
print(rapd_to_sqm(2,3,2,2)) #2

1132.73

In [132]:
print(sqft_to_sqm(100.76))

9.36

# FILLING MISSING UNITS

In [11]:
# Sample data for the table
data = {
    "S.N.": [1, 2],
    "OWNERíS NAME": ["sameep", "sameep"],
    "LOCATION (ADDRESS OF PROPERTY)": ["kapan", "kapan"],
    "OWNERSHIP_TYPE": ["single", "single"],
    "PLOT NO.": [555, 666],
    "AREA(m2)": [250, np.nan],
    "AREA(ft2)": [np.nan, 330],  
    "AREA(rapd)": [np.nan, np.nan]
}

In [12]:
# Convert to DataFrame
df = pd.DataFrame(data)

In [13]:
print(df)

   S.N. OWNERíS NAME LOCATION (ADDRESS OF PROPERTY) OWNERSHIP_TYPE  PLOT NO.  \
0     1       sameep                          kapan         single       555
1     2       sameep                          kapan         single       666

   AREA(m2)  AREA(ft2)  AREA(rapd)
0     250.0        NaN         NaN
1       NaN      330.0         NaN

In [16]:
import pandas as pd
import numpy as np

# Sample data for the table
data = {
    "S.N.": [1, 2],
    "OWNERíS NAME": ["sameep", "sameep"],
    "LOCATION (ADDRESS OF PROPERTY)": ["kapan", "kapan"],
    "OWNERSHIP_TYPE": ["single", "single"],
    "PLOT NO.": [555, 666],
    "AREA(m2)": [250, np.nan],
    "AREA(ft2)": [np.nan, 330],  
    "AREA(rapd)": [np.nan, np.nan]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Define helper functions for each conversion
def ft2_to_m2(ft2):
    if pd.notnull(ft2):
        return sqft_to_sqm(ft2)
    else:
        return np.nan

def m2_to_ft2(m2):
    if pd.notnull(m2):
        return sqm_to_sqft(m2)
    else:
        return np.nan

def ft2_to_rapd(ft2):
    if pd.notnull(ft2):
        ropani, aana, paisa, daam = sqft_to_rapd(ft2)
        return f"{ropani}-{aana}-{paisa}-{daam}"
    else:
        return np.nan

def rapd_to_ft2(rapd):
    if pd.notnull(rapd):
        ropani, aana, paisa, daam = rapd
        return rapd_to_sqft(ropani, aana, paisa, daam)
    else:
        return np.nan

def rapd_to_m2(rapd):
    if pd.notnull(rapd):
        ropani, aana, paisa, daam = rapd
        return rapd_to_sqm(ropani, aana, paisa, daam)
    else:
        return np.nan

def m2_to_rapd(m2):
    if pd.notnull(m2):
        ft2 = sqm_to_sqft(m2)
        return ft2_to_rapd(ft2)
    else:
        return np.nan

# Extract rapd from the string representation for conversion
def extract_rapd(rapd_str):
    if pd.notnull(rapd_str):
        parts = rapd_str.split(", ")
        return tuple(float(part.split()[0]) for part in parts)
    else:
        return np.nan

# Fill missing values
for i, row in df.iterrows():
    if pd.isnull(row["AREA(m2)"]):
        if pd.notnull(row["AREA(ft2)"]):
            df.at[i, "AREA(m2)"] = ft2_to_m2(row["AREA(ft2)"])
        elif pd.notnull(row["AREA(rapd)"]):
            rapd = extract_rapd(row["AREA(rapd)"])
            df.at[i, "AREA(m2)"] = rapd_to_m2(rapd)
    
    if pd.isnull(row["AREA(ft2)"]):
        if pd.notnull(row["AREA(m2)"]):
            df.at[i, "AREA(ft2)"] = m2_to_ft2(row["AREA(m2)"])
        elif pd.notnull(row["AREA(rapd)"]):
            rapd = extract_rapd(row["AREA(rapd)"])
            df.at[i, "AREA(ft2)"] = rapd_to_ft2(rapd)
    
    if pd.isnull(row["AREA(rapd)"]):
        if pd.notnull(row["AREA(ft2)"]):
            df.at[i, "AREA(rapd)"] = ft2_to_rapd(row["AREA(ft2)"])
        elif pd.notnull(row["AREA(m2)"]):
            df.at[i, "AREA(rapd)"] = m2_to_rapd(row["AREA(m2)"])

print(df)

   S.N. OWNERíS NAME LOCATION (ADDRESS OF PROPERTY) OWNERSHIP_TYPE  PLOT NO.  \
0     1       sameep                          kapan         single       555
1     2       sameep                          kapan         single       666

   AREA(m2)  AREA(ft2)   AREA(rapd)
0    250.00    2690.98  0-7-3-1.802
1     30.66     330.00  0-0-3-3.428

In [137]:
print(df)

   S.N. OWNERíS NAME LOCATION (ADDRESS OF PROPERTY) OWNERSHIP_TYPE  PLOT NO.  \
0     1       sameep                          kapan         single       555
1     2       sameep                          kapan         single       666

   AREA(m2)  AREA(ft2)   AREA(rapd)
0    250.00    2690.98  0-7-3-1.802
1     30.66     330.00  0-0-3-3.428

In [17]:
# Export DataFrame to Excel
df.to_excel("output.xlsx", index=False)

# MAKING TABLE AFTER FILLING MISSING UNIT CONVERSION

In [18]:
# Creating the DataFrame
df_table = df
df_table.head()

,S.N.,OWNERíS NAME,LOCATION (ADDRESS OF PROPERTY),OWNERSHIP_TYPE,PLOT NO.,AREA(m2),AREA(ft2),AREA(rapd)
0,1,sameep,kapan,single,555,250.00,2690.98,0-7-3-1.802
1,2,sameep,kapan,single,666,30.66,330.00,0-0-3-3.428

In [23]:
import pandas as pd
from docx import Document
from docx.oxml.ns import qn
from docx.oxml import OxmlElement

# Creating the DataFrame
df_table = df

# Creating the Word document
doc = Document()

# Adding a table with the data
table = doc.add_table(rows=1, cols=len(df_table.columns))
hdr_cells = table.rows[0].cells
for i, column_name in enumerate(df_table.columns):
    hdr_cells[i].text = column_name
    for paragraph in hdr_cells[i].paragraphs:
        for run in paragraph.runs:
            run.bold = True

# Adding data to the table
for index, row in df_table.iterrows():
    row_cells = table.add_row().cells
    for i, value in enumerate(row):
        row_cells[i].text = str(value)
        for paragraph in row_cells[i].paragraphs:
            for run in paragraph.runs:
                run.bold = True

# Function to set cell border
def set_cell_border(cell, **kwargs):
    tc = cell._element
    tcPr = tc.get_or_add_tcPr()
    
    for edge in ('top', 'left', 'bottom', 'right'):
        if edge in kwargs:
            edgeEl = OxmlElement(f'w:{edge}')
            edgeEl.set(qn('w:val'), kwargs.get(edge))
            edgeEl.set(qn('w:sz'), '4')  # 4 for 1/2 pt, 8 for 1 pt
            edgeEl.set(qn('w:space'), '0')
            edgeEl.set(qn('w:color'), '000000')  # black color
            tcPr.append(edgeEl)

# Applying border to all cells
for row in table.rows:
    for cell in row.cells:
        set_cell_border(cell, top="single", left="single", bottom="single", right="single")

# Saving the document
doc.save("Property_Table_with_Borders.docx")

In [25]:
import pandas as pd
from docx import Document
from docx.oxml.ns import qn
from docx.oxml import OxmlElement
from docx.shared import Inches

# Creating the DataFrame
df_table = df

# Creating the Word document
doc = Document()

# Adding a table with the data
table = doc.add_table(rows=1, cols=len(df_table.columns))
hdr_cells = table.rows[0].cells
for i, column_name in enumerate(df_table.columns):
    hdr_cells[i].text = column_name
    for paragraph in hdr_cells[i].paragraphs:
        for run in paragraph.runs:
            run.bold = True

# Adding data to the table
for index, row in df_table.iterrows():
    row_cells = table.add_row().cells
    for i, value in enumerate(row):
        row_cells[i].text = str(value)
        for paragraph in row_cells[i].paragraphs:
            for run in paragraph.runs:
                run.bold = True

# Function to set cell border
def set_cell_border(cell, **kwargs):
    tc = cell._element
    tcPr = tc.get_or_add_tcPr()
    
    for edge in ('top', 'left', 'bottom', 'right'):
        if edge in kwargs:
            edgeEl = OxmlElement(f'w:{edge}')
            edgeEl.set(qn('w:val'), kwargs.get(edge))
            edgeEl.set(qn('w:sz'), '4')  # 4 for 1/2 pt, 8 for 1 pt
            edgeEl.set(qn('w:space'), '0')
            edgeEl.set(qn('w:color'), '000000')  # black color
            tcPr.append(edgeEl)

# Applying border to all cells
for row in table.rows:
    for cell in row.cells:
        set_cell_border(cell, top="single", left="single", bottom="single", right="single")

# Function to set column width
def set_column_width(column, width):
    for cell in column.cells:
        cell.width = width

# Setting different column widths
column_widths = [Inches(1), Inches(4), Inches(8), Inches(4), Inches(3), Inches(1.5), Inches(2), Inches(2.5)]

for i, column in enumerate(table.columns):
    set_column_width(column, column_widths[i])

# Saving the document
doc.save("Property_Table_with_Borders.docx")