In [2]:
!pip install pandas numpy

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy
  Downloading numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl.metadata (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.8/114.8 kB 1.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Caskroom/miniconda/base/envs/new_env/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Caskroom/miniconda/base/envs/new_env/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Caskroom/miniconda/base/envs/new_env/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 29.8 MB/s eta 0:00:0000:010:01
Downloading numpy-1.26.4-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 37.9 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 13.7 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 tzdata-2024.1

In [3]:
import pandas as pd
import numpy as np

In [4]:
import pandas as pd

# JSON-like data
data = {
    "name_client": ["Mr. Niraj Bhandari"],
    "address_client": ["Kanakai Ward No.04, Ilam"],
    "owner": ["Mr. Devi Prasad Bhandari"],
    "plot": ["111,222"],
    "area": ["224,553"],
    "address": ["kapan,dang"],
    "ctzno": ["641/3269"],
    "issuedate": ["2036/10/16 AD"],
    "address_owner": ["Kanakai Ward No.04, Ilam"],
    "relationship": ["Grandfather"],
    "final": ["4000000"]
}

# Split 'plot' and 'area' fields into lists
plots = data["plot"][0].split(',')
areas = data["area"][0].split(',')
address = data["address"][0].split(',')

# Prepare data for DataFrame
df_data = {
    "name_client": [data["name_client"][0]] * len(plots),
    "address_client": [data["address_client"][0]] * len(plots),
    "owner": [data["owner"][0]] * len(plots),
    "plot": plots,
    "area": areas,
    "address": address,
    "ctzno": [data["ctzno"][0]] * len(plots),
    "issuedate": [data["issuedate"][0]] * len(plots),
    "address_owner": [data["address_owner"][0]] * len(plots),
    "relationship": [data["relationship"][0]] * len(plots),
    "final": [data["final"][0]] * len(plots)
}

# Create DataFrame
df = pd.DataFrame(df_data)

In [5]:
df

,name_client,address_client,owner,plot,area,address,ctzno,issuedate,address_owner,relationship,final
0,Mr. Niraj Bhandari,"Kanakai Ward No.04, Ilam",Mr. Devi Prasad Bhandari,111,224,kapan,641/3269,2036/10/16 AD,"Kanakai Ward No.04, Ilam",Grandfather,4000000
1,Mr. Niraj Bhandari,"Kanakai Ward No.04, Ilam",Mr. Devi Prasad Bhandari,222,553,dang,641/3269,2036/10/16 AD,"Kanakai Ward No.04, Ilam",Grandfather,4000000

In [6]:
df['area']

0    224
1    553
Name: area, dtype: object

In [7]:
type(df['area'])

pandas.core.series.Series

In [8]:
count =df['area'].count()

In [9]:
total =0

In [10]:
for i in range(0,count):
    print(i)
    value = int(df['area'][i])
    total= total + value

0
1

In [58]:
print(total)

777

In [64]:
final =df['final'][0]

In [65]:
final

'4000000'

In [68]:
final =(int(final))

In [106]:
rateAdopted = final/total

In [107]:
rateAdopted

5148.005148005148

In [108]:
weightedAverage = rateAdopted +0.1*rateAdopted

In [109]:
weightedAverage

5662.805662805663

In [110]:
marketRate = weightedAverage + 0.1 *weightedAverage

In [111]:
marketRate

6229.08622908623

In [91]:
df=pd.read_excel('raw.xlsx')

In [104]:
df

,OwnerName,OwnershipType,OwnersAddress,CitizenshipNumebr,CitizenshipDate,Relationship,PlotNumbers1,PlotNumbers2,PlotNumbers3,Address1,Address2,Address3,AreaPlot1,AreaPlot2,AreaPlot3,AreaPlot1sqm,AreaPlot2sqm,AreaPlot3sqm
0,sameep,sinlge,kapan,5555-4444,2066-06-05,father,111222,222,333,dang,ghorahi,tulsipur,0-1-2,0-1-5,0-1-8,550,600,1000
1,manongya,joint,budhanilkantha,555/565,2015-05-06,uncle,"5,55,666",666,777,birgunj,betiya,muzaffarpur,0-1-3,0-2-3,0-2-8,400,300,800
2,manongya,joint,budhanilkantha,555/565,2015-05-06,uncle,"5,55,666",666,777,birgunj,betiya,muzaffarpur,250 m2,0-2-3,0-2-8,400,300,800

In [105]:
len(df)

3

In [102]:
import pandas as pd
from docx import Document
from docx.oxml.ns import qn
from docx.oxml import OxmlElement
from docx.shared import Inches

In [103]:
# Creating the Word document
doc = Document()

In [119]:
from docx import Document
from docx.oxml import OxmlElement
from docx.oxml.ns import qn

def set_cell_border(cell, **kwargs):
    """
    Set cell border for a table cell.
    """
    tc = cell._element
    tcPr = tc.get_or_add_tcPr()
    
    for edge in ('top', 'left', 'bottom', 'right'):
        if edge in kwargs:
            edgeEl = OxmlElement(f'w:{edge}')
            edgeEl.set(qn('w:val'), kwargs.get(edge))
            edgeEl.set(qn('w:sz'), '4')  # 4 for 1/2 pt, 8 for 1 pt
            edgeEl.set(qn('w:space'), '0')
            edgeEl.set(qn('w:color'), '000000')  # black color
            tcPr.append(edgeEl)

# # Values to be inserted into the table
# market_rate = round(44.1892)
# weighted_average = round(40.172)
# rate_adopted = round(36.52)

# Create a new Document
doc = Document()

# Add a table with 2 columns and 3 rows
table = doc.add_table(rows=3, cols=2)

# Populate the table
table.cell(0, 0).text = "Market rate *(Current Market Rate inquired from Local Resident (RS.)/Ropani )"
table.cell(0, 1).text = str(market_rate)
table.cell(1, 0).text = "Weighted Average Calculation:"
table.cell(1, 1).text = str(weighted_average)
table.cell(2, 0).text = "Land Rate Adopted in this Report (Rs.)/Ropani:"
table.cell(2, 1).text = str(rate_adopted)

# Applying border to all cells
for row in table.rows:
    for cell in row.cells:
        set_cell_border(cell, top="single", left="single", bottom="single", right="single")

# Save the document
file_path = "Land_Rate_Report_with_Borders.docx"
doc.save(file_path)

print(f"Document saved at: {file_path}")

Document saved at: Land_Rate_Report_with_Borders.docx

'5,55,666'